@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital@1&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;600;700&family=Rubik:wght@400;500;700&family=Varela&family=Varela+Round&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
